@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Welcome to Azure and Devops</h1>
    <h1 class="display-4">Finally its working</h1>
    <h1 class="display-4">My name is Surya</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
