name: AKS Deployment
on:
 push:
   branches:
      - main
      - dev
jobs:
  build_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Login to Azure container regitry
        uses: azure/docker-login@v1
        with:
          login-server: dempoappreg.azurecr.io
          username: ${{secrets.ACR_USERNAME}}
          password: ${{secrets.ACR_PASSWORD}}
      - name: Build and push docker image
        run: |
         docker build -t dempoappreg.azurecr.io/my-dotnet9-app:${{github.sha}} .
         docker push dempoappreg.azurecr.io/my-dotnet9-app:${{github.sha}}
         docker tag dempoappreg.azurecr.io/my-dotnet9-app:${{github.sha}} dempoappreg.azurecr.io/my-dotnet9-app:latest
         docker push dempoappreg.azurecr.io/my-dotnet9-app:latest
  deploy_job:
    needs: build_job
    runs-on: ubuntu-latest
    steps:
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{secrets.AZURE_CREDENTIAL}}
      - name: Set AKS context
        uses: azure/aks-set-context@v3
        with:
          creds: ${{secrets.AZURE_CREDENTIAL}}
          resource-group: Devops
          cluster-name: demoapp888
      - name: Deploy in AKS
        run: |
          kubectl set image deployment/webapp-dep webapp=dempoappreg.azurecr.io/my-dotnet9-app:latest --record
          kubectl rollout status deployment/webapp-dep

            